<!-- <div class="full-back">
  <app-header></app-header>
  <div class="text-danger text-center row">
    <h1 class="blink_me">SELECT A PATH</h1>
  </div>

  <div class="row">
    <div class="col-md-4 make-white text-center">
      <a routerLink="course-one">Course One</a>
    </div>
    <div class="col-md-4 make-white text-center">
      <a routerLink="course-two">Course Two</a>
    </div>
    <div class="col-md-4 make-white text-center">
      <a routerLink="course-three">Course Three</a>
    </div>
  </div>

</div> -->

<div>
<input type="text" [(ngModel)]="name" name="name" placeholder="Name">
<br>
<input type="text" [(ngModel)]="email" name="email" placeholder="Email">
<br>
<input type="text" [(ngModel)]="age" name="age" placeholder="Age">
<br>
<button (click)="postSubmit()">Post Submit</button>
<br>
<button (click)="submit()">Submit</button>
<table border="5">
  <thead>
    <td>S/N</td>
    <td>Name</td>
    <td>Email</td>
    <td>Age</td>
  </thead>
  <tbody>
    <tr *ngFor="let row of users; let i=index">
      <td>{{i+1}}</td>
      <td>{{row.name}}</td>
      <td>{{row.email}}</td>
      <td>{{row.age}}</td>
    </tr>
  </tbody>
</table>
<h1 *ngFor="let item of users">{{item.name}} with email: {{item.email}} is {{item.age}} years old.</h1>
</div>
