.make-white {
    color: white;
    min-height: 700px;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.full-back {
    background-image: url("https://www.w3schools.com/bootstrap/chicago.jpg");
    background-size: cover;
}
